.banner {
  width: 100%;
  height: 350px;
  overflow: hidden;
  padding-bottom: 65px;
  padding-top: 10px;
  display: flex;
  justify-content: center;  
  margin: 0 auto;
}

.banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
